.ModalExitoso {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;

  z-index: -1;
  opacity: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
.ModalExitoso.Mostrar {
  z-index: 1000;
  opacity: 1;
}
.ModalExitoso__Contenido {
  position: relative;
  width: 400px;
  height: 200px;
  background-color: var(--ColorBlanco);
  /* transform: scale(0); */
  transition: 0.5s ease all;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.ModalExitoso.Mostrar .ModalExitoso__Contenido {
  transform: scale(1);
}
.ModalExitoso__Contenido--Icono {
  width: 100px;
}
.ModalExitoso__Contenido--Mensaje {
  font-size: 20px;
  color: var(--ColorPrincipalSP);
  text-align: center;
}
.ModalExitoso__Contenido--Cerrar {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--ColorPrincipalSP);
  border: 2px solid var(--ColorPrincipalSP);
  transition: 0.5s ease all;

  display: flex;
  align-items: center;
  justify-content: center;
}
.ModalExitoso__Contenido--Cerrar ion-icon {
  color: var(--ColorBlanco);
  transition: 0.5s ease all;
  font-size: 20px;
}
.ModalExitoso__Contenido--Cerrar:hover {
  background-color: var(--ColorBlanco);
}
.ModalExitoso__Contenido--Cerrar:hover ion-icon {
  color: var(--ColorPrincipalSP);
}
@media (max-width: 700px) {
  .ModalExitoso__Contenido--Cerrar {
    top: 0;
    right: 0;
    border-radius: 0;
  }
}
@media (width <= 500px) {
  .ModalExitoso__Contenido {
    width: 100%;
  }
  .ModalExitoso__Contenido--Icono {
    width: 70px;
  }
  .ModalExitoso__Contenido--Mensaje {
    font-size: 16px;
  }
}
